In [7]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("Summit.csv")
data

,PHS @ Summit Academy — All Athletes — Averages,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,Games,GP,0,eFG%,TO%,OREB%,DREB%,FTF,VPS,0,...,PPSLOB,BLOB,BLOB%,PPBLOB,0,DEFL,STL,BLK,FOUL,CHG
1,Overall,1,0,53.00%,46.80%,36.40%,57.50%,0.36,0.61,0,...,0.5,6,0.00%,0,0,6,4,1,16,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,By Period,GP,0,eFG%,TO%,OREB%,DREB%,FTF,VPS,0,...,PPSLOB,BLOB,BLOB%,PPBLOB,0,DEFL,STL,BLK,FOUL,CHG
4,1st,1,0,50.00%,52.40%,33.30%,87.50%,0,0.55,0,...,2,2,0.00%,0,0,1,1,0,4,0
5,2nd,1,0,42.90%,52.80%,33.30%,33.30%,0.86,0.49,0,...,0,2,0.00%,0,0,2,2,1,4,0
6,3rd,1,0,66.70%,39.10%,33.30%,63.60%,0.44,0.71,0,...,0,1,0.00%,0,0,2,0,0,6,0
7,4th,1,0,50.00%,38.60%,50.00%,55.60%,0.29,0.75,0,...,0,1,0.00%,0,0,1,1,0,2,0

In [8]:
data.columns = data.iloc[0]
data.rename(columns = {"Games": "Period"}, inplace = True)
data = data.drop([0,2,3])
data.drop(["GP", 0.0], axis = 1, inplace = True)
data

,Period,eFG%,TO%,OREB%,DREB%,FTF,VPS,FGM,FGA,FG%,...,SLOB%,PPSLOB,BLOB,BLOB%,PPBLOB,DEFL,STL,BLK,FOUL,CHG
1,Overall,53.00%,46.80%,36.40%,57.50%,0.36,0.61,15,33,45.50%,...,25.00%,0.5,6,0.00%,0,6,4,1,16,0
4,1st,50.00%,52.40%,33.30%,87.50%,0,0.55,4,10,40.00%,...,100.00%,2,2,0.00%,0,1,1,0,4,0
5,2nd,42.90%,52.80%,33.30%,33.30%,0.86,0.49,3,7,42.90%,...,0.00%,0,2,0.00%,0,2,2,1,4,0
6,3rd,66.70%,39.10%,33.30%,63.60%,0.44,0.71,5,9,55.60%,...,-,0,1,0.00%,0,2,0,0,6,0
7,4th,50.00%,38.60%,50.00%,55.60%,0.29,0.75,3,7,42.90%,...,-,0,1,0.00%,0,1,1,0,2,0

In [9]:
game = data[:1].reset_index(drop = True)
quarters = data[1:].reset_index(drop = True)
game.iloc[0,0] = "Summit"
game.rename(columns = {"Period": "Opponent"}, inplace = True)
game

,Opponent,eFG%,TO%,OREB%,DREB%,FTF,VPS,FGM,FGA,FG%,...,SLOB%,PPSLOB,BLOB,BLOB%,PPBLOB,DEFL,STL,BLK,FOUL,CHG
0,Summit,53.00%,46.80%,36.40%,57.50%,0.36,0.61,15,33,45.50%,...,25.00%,0.5,6,0.00%,0,6,4,1,16,0

In [10]:
quarters

,Period,eFG%,TO%,OREB%,DREB%,FTF,VPS,FGM,FGA,FG%,...,SLOB%,PPSLOB,BLOB,BLOB%,PPBLOB,DEFL,STL,BLK,FOUL,CHG
0,1st,50.00%,52.40%,33.30%,87.50%,0,0.55,4,10,40.00%,...,100.00%,2,2,0.00%,0,1,1,0,4,0
1,2nd,42.90%,52.80%,33.30%,33.30%,0.86,0.49,3,7,42.90%,...,0.00%,0,2,0.00%,0,2,2,1,4,0
2,3rd,66.70%,39.10%,33.30%,63.60%,0.44,0.71,5,9,55.60%,...,-,0,1,0.00%,0,2,0,0,6,0
3,4th,50.00%,38.60%,50.00%,55.60%,0.29,0.75,3,7,42.90%,...,-,0,1,0.00%,0,1,1,0,2,0

In [11]:
# game.to_csv("Summit_game_data.csv", index = False)
# quarters.to_csv("Summit_quarters_data.csv", index = False)